* {
  font-family: Verdana;
}

body{
  background-color: black;
  text-align: center;
}

.topline {
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

a {
  font-size: 16px;
  font-weight: normal;
  color: aquamarine;
  text-align: center;
}

.media {
  align-items: center
}
